 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                    <p class="about">Dolomites Labs è un team di ragazzi creativi, specializzati nel mondo del Design e nello sviluppo Software e di tecnologie Web.<br> 
                    Si occupano in particolare di:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                    <ul class="about-bullet">
                    <li>Design di interni</li>
                    <li>Design grafico(loghi, immagine coordinata, volantini)</li>
                    <li>Design, progettazione e sviluppo siti internet</li>
                    <li>Fotografia ritratti e cerimonie(matrimoni, battesimi)</li>
                    <li>Design di interni</li>
                    </ul></p>
                </div>
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#gaia" class="portfolio-link" data-toggle="modal">
                            
                            <h1>Gaia</h1><img src="img/gaia.jpg" id="profil" class="img-responsive"/> 
                        </a>
                    
                    <h1>Stefano</h1> <img src="img/ste.jpg" id="profil" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>
