 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About</h2>
                    <div class="separator"></div>
                    <p class="about">Dolomites Labs è un team di ragazzi creativi, specializzati nel mondo del Design e nello sviluppo Software e di tecnologie Web.<br> 
                    Si occupano in particolare di:</p>
                </div>
            </div>
            <div class="row">
                <div class="bullet-div">
                    <p>
                    <ul class="about-bullet">
                    <li>Design, progettazione e sviluppo siti internet</li>
                    <li>Design di interni</li>
                    <li>Design grafico(loghi, immagine coordinata, volantini)</li>
                    <li>Sviluppo software e applicazioni</li>
                    <li>Fotografia ritratti, cerimonie(matrimoni, battesimi), interni</li>
                    
                    </ul></p>
                </div>
               
                <div class="profil-about">
                    <div class="profi-div">
                            
                           <img src="img/bullet-big.png" class="big-bullet"/> <h2>GAIA</h2><img src="img/bullet-small.png" class="small-bullet"/><img src="img/gaia1.jpg" id="profil" class="img-responsive"/><div class="text-cell">Ragazza estroversa e creativa, appassionata della corsa e degli sport a contatto con la natura.<br>Laureanda in Design presso l'Accademia di Belle Arti LABA di Brescia.</div>
                        </div>
                   <div class="profi-div">
                    <img src="img/bullet-big.png" class="big-bullet"/> <h2>STEFANO</h2><img src="img/bullet-small.png" class="small-bullet"/><img src="img/ste.jpg" id="profil" class="img-responsive"/><div class="text-cell">Ragazzo simpatico e sportivo, da sempre amante degli sport di montagna. Fin da giovane smanetta con i computer.<br>Laureando in Ingegneria Informatica alla Libera Università di Bolzano.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
