    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 logo-header">
                    <img class="img-responsive" id="img-profile" src="img/2-new.png" alt="">
                    <div class="intro-text">
                  
                        <span class="skills">Web Design - Graphic Design - Fotografia - Sviluppo Software & App</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
