
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
                    <div class="col-sm-6 portfolio-item">
                        <a href="web-design" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Web Design
                                </div>
                            </div>
                            <img src="img/portfolio/wd-complete.png" class="img-responsive" alt="Web Design">
                        </a>
                    </div>
                    <div class="col-sm-6 portfolio-item">
                        <a href="graphic-design" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Graphic Design
                                </div>
                            </div>
                            <img src="img/portfolio/gd-complete.png" class="img-responsive" alt="Graphic Design">
                        </a>
                    </div>
                    <div class="col-sm-6 portfolio-item">
                        <a href="interior-design" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Interior Design
                                </div>
                            </div>
                            <img src="img/portfolio/id-complete.png" class="img-responsive" alt="Interior Design">
                        </a>
                    </div>
                    <div class="col-sm-6 portfolio-item">
                        <a href="sviluppo-software" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Sviluppo Software
                                </div>
                            </div>
                            <img src="img/portfolio/ss-complete.png" class="img-responsive" alt="Sviluppo Software">
                        </a>
                    </div>
                
            </div>
        </div>
    </section>
