
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>PORTFOLIO</h2>
                    <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
                
                    <div class="col-sm-12 portfolio-item">
                        <a href="web-design" class="portfolio-link">						<img src="../img/gigi.png" class="caption">
                            <img src="img/portfolio/web.png" class="img-responsive" alt="Web Design">
                        </a>
                    </div>
                    <div class="col-sm-12 portfolio-item">
                        <a href="graphic-design" class="portfolio-link">
                            <img src="../img/gigi.png" class="caption">
                            <img src="img/portfolio/graphic.png" class="img-responsive" alt="Graphic Design">
                        </a>
                    </div>
                    
                    <div class="col-sm-12 portfolio-item">
                        <a href="sviluppo-software" class="portfolio-link">
                            <img src="../img/gigi.png" class="caption">
                            <img src="img/portfolio/software.png" class="img-responsive" alt="Sviluppo Software">
                        </a>
                    </div>
                    <div class="col-lg-12 portfolio-item">
                        <a href="fotografia" class="portfolio-link">
                            <img src="../img/gigi.png" class="caption">
                            <img src="img/portfolio/photography.jpg" class="img-responsive" alt="Fotografia">
                        </a>
                    </div>
                
            </div>
        </div>
    </section>
