
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="pad">Interior Design Portfolio</h2>
                    <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
            <div class="category-description">
                Dall'ideal al progetto.<br>
				Rilievi, studi in pianta e render fotorealistici per seguirvi passo per passo nel vostro progetto.
            </div><br><br>
            {% for post in site.posts %}
                {% if post.category == "interiordesign" %}
<br><br>            <div class="portfolio-inside">
                     <div class="col-sm-4 portfolio-item">
                    <div class="post-title"> {{ post.title }}</div>
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <img src="../img/gigi2.png" class="caption">
                            <img src="../img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                      
                    </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
