
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="pad">Fotografia</h2>
                    <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
            <div class="category-description">
                Servizi fotografici per privati, per aziende(hotel, negozi ecc.), eventi come matrimoni, battesimi e cerimonie di qualsiasi tipo.
<br>
            </div><br><br>
<br><br>                    
                   <div class="portfolio-inside">
                     <div class="col-sm-3 portfolio-item">
                    <div class="post-title"> Bambini</div>
                        
                            
                            <img src="../img/portfolio/fotografia/bimbi.jpg" class="img-responsive" alt="Fotografia">
                        
                    </div>  
                    <div class="col-sm-3 portfolio-item">
                    <div class="post-title"> Matrimoni</div>
                       
                           
                            <img src="../img/portfolio/fotografia/matrimonio.jpg" class="img-responsive" alt="Fotografia">
                        
                    </div>  
                    <div class="col-sm-3 portfolio-item">
                    <div class="post-title"> Ritratti</div>
                        
                            
                            <img src="../img/portfolio/fotografia/fotografia-glam.jpg" class="img-responsive" alt="Fotografia">
                        
                    </div>
                    <div class="col-sm-3 portfolio-item">
                    <div class="post-title"> Interni</div>
                        
                            
                            <img src="../img/portfolio/fotografia/interni-ph.jpg" class="img-responsive" alt="Fotografia">
                        
                    </div>    
                 <img src="../img/portfolio/fotografia/impaginazione-foto.jpg" class="main-fotografia"/>
             
            </div>
        </div>
    </section>
