
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="pad">Graphic Design Portfolio</h2>
                   <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
                <div class="category-description">
                Offriamo un pacchetto completo dal logo all'immagine coordinata(flyer, brochures, volantini...) sia per aziende che per privati.<br>Sviluppiamo progetti integrativi come il sito internet coordinato con la grafica.
            </div><br><br>
<br><br>            
                {% for post in site.posts %}
                {% if post.category == "graphicdesign" %}
                    <div class="portfolio-inside">
                     <div class="col-sm-4 portfolio-item">
                    <div class="post-title"> {{ post.title }}</div>
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <img src="../img/gigi2.png" class="caption">
                            <img src="../img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                      
                    </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
