
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="pad">Web Design</h2>
                    <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
            <div class="category-description">
                Creiamo il Suo sito web – su misura, adattato ai Suoi desideri:<br>
    <ul>
    <li>Integriamo testi e immagini</li>
    <li>Ottimizzazione di ricerca</li>
    <li>Design professionale del sito</li>
    <li>Contenuti del sito possono essere modificati autonomamente (CMS)</li>
    <li>Alta flessibilità – i siti che creiamo sono facilmente estensibili</li>
    <li>Support diretto da professionisti – niente Callcenter e nessuna coda di attesa</li>
     </ul>
Assimiliamo il design già esistente e lo ottimizziamo o creiamo un design nuovo. Il Suo messaggio verrà comunicato in modo efficiente. Sito facile da gestire e tuttavia con design piacevole.<br>
Risultato: Il Suo marchio si profila nella giungla dei siti web portando vantaggi. Sia localmente che in ambito internazionale.<br>
            </div><br><br>
<br><br>            <div class="col-lg-12 text-center">
                    <h2 class="pad intern">Lavori</h2>
                    
                </div>
                {% for post in site.posts %}
                {% if post.category == "webdesign" %}
                    <div class="portfolio-inside">
                        
                            <div class="profi-div">
                                   <h3>{{ post.title }}</h3><img src="../img/portfolio/{{ post.img }}" class="post-img" alt="{{ post.alt }}"><div class="text-cell">{{ post.description }}</div>
                            
                        
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
