
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="pad">Sviluppo Software  & Applicazioni Portfolio</h2>
                    <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
            <div class="category-description">
                Sviluppiamo qualsiasi genere di software e applicazioni per la vostra azienda o per le vostre idee.
<br>
            </div><br><br>
<br><br>          
                    <div class="portfolio-inside">
                     <div class="col-sm-4 portfolio-item">
                    <div class="post-title"> Applicazioni</div>
                        
                            <img src="../img/portfolio/software/software.jpg" class="img-responsive" alt="Applicazioni">
                        </a>
                      
                    </div>  
                   
            </div>
        </div>
    </section>
