
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <div class="separator white"></div>
                </div>
            </div>
            <div class="row">
                
                    <div class="col-sm-12 portfolio-item">
                        <a href="web-design" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Web Design
                                </div>
                            </div>
                            <img src="img/portfolio/web.png" class="img-responsive" alt="Web Design">
                        </a>
                    </div>
                    <div class="col-sm-12 portfolio-item">
                        <a href="graphic-design" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Graphic Design
                                </div>
                            </div>
                            <img src="img/portfolio/graphic.png" class="img-responsive" alt="Graphic Design">
                        </a>
                    </div>
                    <div class="col-sm-12 portfolio-item">
                        <a href="interior-design" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Interior Design
                                </div>
                            </div>
                            <img src="img/portfolio/interior.png" class="img-responsive" alt="Interior Design">
                        </a>
                    </div>
                    <div class="col-sm-12 portfolio-item">
                        <a href="sviluppo-software" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Sviluppo Software & Applicazioni
                                </div>
                            </div>
                            <img src="img/portfolio/software.png" class="img-responsive" alt="Sviluppo Software">
                        </a>
                    </div>
                    <div class="col-lg-12 portfolio-item">
                        <a href="fotografia" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Fotografia
                                </div>
                            </div>
                            <img src="img/portfolio/photography.png" class="img-responsive" alt="Fotografia">
                        </a>
                    </div>
                
            </div>
        </div>
    </section>
